#root {
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px; 
    
}

#top-bar {
    flex-direction: row;
    height: 80px;
    border-width: 3px;
    border-color: black;
    align-items: center;
    padding: 0 10px;
}

#top-left-spacer {
    width: 100px;
    height: 100%;
    border-right-width: 3px;
    border-color: black;
    margin-right: 15px;
}

.icon {
    width: 50px;
    height: 50px;
    -unity-background-scale-mode: scale-to-fit;
}

#bottom-container {
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.menu-btn {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-width: 3px;
    border-color: black;
    border-radius: 20px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.menu-btn:hover {
    background-color: rgb(224, 224, 224);
}

.icon-btn-no-border {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
}
