#root {
    flex-grow: 1;
    background-color: white;
}

#header {
    height: 100px;
    background-color: #808080; /* Màu xám */
}

#content-container {
    flex-direction: row; /* Sắp xếp các item nằm ngang */
    justify-content: space-around; /* Cách đều các item */
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

/* Định dạng thẻ Card chính */
.card {
    flex-direction: row;
    width: 400px;
    height: 600px;
    border-width: 2px;
    border-color: black;
}

.card-left {
    flex-grow: 1;
    width: 200px;
    border-right-width: 2px;
    border-color: black;
}

.card-right {
    flex-grow: 1;
    padding: 2px;
    align-items: center;
}

/* Ô vuông nhỏ bên trong card-right */
.inner-box {
    width: 120px;
    height: 120px;
    margin: 20px;
    border-width: 0px;
    border-color: black;
    display: flex;
}
.inner-box Button {
    flex-grow: 1; 
    
}

/* Thêm hiệu ứng hover cho chuyên nghiệp */
.card:hover {
    background-color: #f0f0f0;
    scale: 1.05;
    transition-duration: 0.2s;
}